<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "aussieninjawarrior.ayden12.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>So you think you can be a Ninja Warrior? : The Game</name>

    <description>
       If you love Australian Ninja Warrior, then this is the game for you. Play as your favourite contestant as you commando-roll through bars, jump across ledges, and swing on barrels. Then, after you are done with playing, turn to practice mode, where you will complete different stunts from the game, guided by Sensei Marcus. We are in no way affiliated with Channel 9, or Australian Ninja Warrior.
    </description>

    <author href="http://scratch.mit.edu/users/ayden12" email="aydenbottos8@gmail.com">
        ayden12
    </author>

</widget>
